<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-searchbar placeholder="Search News" (ionInput)="getItems($event)" animated="true"></ion-searchbar>
    <ion-segment [(ngModel)]="newscategory"  (ionChange)="onSegmentChanged($event)"  color="secondary">
      <ion-segment-button value="home">
        Home
      </ion-segment-button>
      <ion-segment-button value="1">
        News
      </ion-segment-button><ion-segment-button value="3">
        Recipes
      </ion-segment-button>
      <ion-segment-button value="2">
        Videos
      </ion-segment-button>
    </ion-segment>
  <div *ngIf="newsfeeds">
    <ion-grid>
    <ion-row align-items-center>
    <ion-col col-12 col-lg-4 *ngFor="let newsfeed of newsfeeds">
    <ion-card style="height: 100%;">
      <img src="{{newsfeed.approved_image}}"/>
      <ion-card-content>
        <ion-card-title>
          {{newsfeed.approved_title | uppercase}}
        </ion-card-title>
        <i>{{getHostName(newsfeed.link)}}</i><br>
        <i>{{newsfeed.date | date}}</i>
        <p>
          {{newsfeed.approved_description}}
        </p>
        <ion-row>
          <ion-col>
            <ion-fab left>
              <button ion-fab color="accent"><ion-icon name="arrow-dropup"></ion-icon></button>
              <ion-fab-list side="top">
                <button ion-fab class="btn-whatsapp"><ion-icon name="logo-whatsapp"></ion-icon></button>
                <button ion-fab class="btn-google-plus"><ion-icon name="logo-googleplus"></ion-icon></button>
                <button ion-fab class="btn-twitter"><ion-icon name="logo-twitter"></ion-icon></button>
                <button ion-fab class="btn-facebook"><ion-icon name="logo-facebook"></ion-icon></button>
              </ion-fab-list>
            </ion-fab>
          </ion-col>
          <ion-col right>
          </ion-col>
          <ion-col right>
            <ion-fab top-right (click)="deleteFavorite(newsfeed._id, newsfeed.favorites.indexOf('siddharthsogani22@gmail.com'))">
              <button ion-fab right>
                <ion-icon *ngIf="newsfeed.favorites.indexOf('siddharthsogani22@gmail.com')==-1" name="heart-outline"></ion-icon>
                <ion-icon *ngIf="newsfeed.favorites.indexOf('siddharthsogani22@gmail.com')!==-1" name="heart"></ion-icon>
              </button>
            </ion-fab>
          </ion-col>
        </ion-row>
      </ion-card-content>
      <ion-row>
        <ion-col>
          <button ion-button icon-left clear small>
          </button>
        </ion-col>
      </ion-row>
    </ion-card>
    </ion-col>
    </ion-row>
    </ion-grid>
  </div>
  <div [hidden]="newsfeeds || newsfeedsErrMsg">
    <ion-spinner></ion-spinner>
    <h4>Loading . . . Please Wait</h4>
  </div>
  <div *ngIf="newsfeedsErrMsg">
    <h2>Error</h2>
    <h4>{{newsfeedsErrMsg}}</h4>
  </div>
</ion-content>
